<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5BEbvXjjhoUNAVJI51SWdLzKwik-Yq20</string>
	<key>GCM_SENDER_ID</key>
	<string>926766537164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shubhamTest</string>
	<key>PROJECT_ID</key>
	<string>test1-bb0b6</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-bb0b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926766537164:ios:5b8c584d4d87b508372569</string>
</dict>
</plist>