<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwDX6eANJuY_AdIWreGuYX5OXsa6DofZw</string>
	<key>GCM_SENDER_ID</key>
	<string>893030457264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shubhamTest</string>
	<key>PROJECT_ID</key>
	<string>bodhimind-a479c</string>
	<key>STORAGE_BUCKET</key>
	<string>bodhimind-a479c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893030457264:ios:f59c54827cf864366a4075</string>
</dict>
</plist>